/* Navigation bar */

.nav {
    margin-top: 100px;
    /* light greenish color #5e9872 */
    background-color:#5e9872
}

.nav li {
    display:inline;
}

.nav a {
    text-transform:uppercase;
    font-size:15px;
    font-weight:bold;
    padding:15px 10px;
    color:#5a5a5a;
}
