/* Navigation bar */

.navbar .container-fluid {
    margin:0% 7.5%;
}

.jumbotron {
    height:400px;
    background-image:url('http://www.adventmedicaldevices.com/assets/images/skins/bg-banner-teal-grey.png');
    background-repeat:no-repeat;
    background-size:cover;
}

.jumbotron .container {
    position:relative;
    top:80px;
}

.jumbotron h1 {
    color:#fff;
}

.jumbotron p {
    color:#fff;
}
